package templates

templ Index(appContent templ.Component) {
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="/statics/picocss/pico.colors.min.css" rel="stylesheet">
        <link href="/statics/picocss/pico.amber.min.css" rel="stylesheet">
        <link href="/statics/global.styles.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/statics/favicon/favicon.ico">
        <script src="/statics/htmx/htmx.v2.0.4.min.js"></script>
    </head>
    <body>
        <nav style="
                padding: 0 var(--padding-increment) var(--padding-increment) var(--padding-increment);
                background-color: var(--pico-background-color);
                position: sticky;
                top: 0;
                z-index: 100;
            " >
            <ul>
                <li><strong>Demo Application</strong></li>
            </ul>
            <ul>
                <li><button 
                    hx-target="#app-content"
                    hx-get="/canvasapp/app?source=nav"
                    hx-push-url="/canvasapp/app"
                >Canvas App</button></li>
                <li><button 
                    hx-target="#app-content"
                    hx-get="/todolist/app?source=nav"
                    hx-push-url="/todolist/app"
                >Todo List</button></li>
                <li><button class="outline">Login</button></li>
            </ul>
        </nav>

        <div id="app-content" style="overflow: hidden">
            if appContent != nil {
                @appContent
            }
        </div>
    </body>
</html>

}
